.navItem {
    transition: all 0.5s;
}

.navItem:hover {
    cursor: pointer;
    background-color: white;
    color: black !important;
}

.aside {
    background-color: var(--main-color);
    color: var(--whit-color);
    width: 250px;
}